{{! Invalid - not a 404 page }}

<nav id="nav-bar">
    <a href="/">Home</a>
    <a href="/browse">Browse</a>
    <a href="/about">About</a>
    <a href="/games">Games</a>
</nav>

<h1 id="h1-404">Invalid</h1>