{{! 404 page }}

<nav id="nav-bar">
    <a href="/">Home</a>
    <a href="/browse">Browse</a>
    <a href="/about">About</a>
    <a href="/games">Games</a>
</nav>

{{#if user}}
<div class="div-logged-in">
    <p class="p-logged-in">You are logged in as <span style="font-weight: bold">{{user}}</span></p>
    <div class="div-logged-anchors">
        <a class="a-logged-in" href="/dashboard">Dashboard</a>
        <a class="a-logged-in" href="/logout">Log Out</a>
    </div>
</div>
{{/if}}

<h1 id="h1-404">Not found (404)</h1>