{{! NSFW page }}

<nav id="nav-bar">
    <a href="/">Home</a>
    <a href="/browse">Browse</a>
    <a href="/about">About</a>
    <a href="/games">Games</a>
</nav>

<h1 id="h1-nsfw">Over 18?</h1>
<p id="p-nsfw-warning">The following page may contain adult content. Please confirm that you are over 18 years of age and willing to see adult content by clicking "accept" below</p>
<div id="div-nsfw-buttons">
    <button class="buttons-nsfw" onClick="window.location.href = '/nsfw/accept'">Accept</button>
    <button class="buttons-nsfw" onClick="window.location.href = '/nsfw/decline'">Decline</button>
</div>