{{! Password reset page}}

<nav id="nav-bar">
    <a href="/">Home</a>
    <a href="/browse">Browse</a>
    <a href="/about">About</a>
    <a href="/games">Games</a>
</nav>

<h1 id="h1-password-reset">An email has been sent with a link to reset your password. Please check your email.</h1>