{{! Password reset form. Import Axios from a CDN to use in reset.js}}

<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script defer src="/reset.js"></script>

<nav id="nav-bar">
    <a href="/">Home</a>
    <a href="/browse">Browse</a>
    <a href="/about">About</a>
    <a href="/games">Games</a>
</nav>

<h1 id="h1-forgot-password">Enter your new password below</h1>

<div class="div-forgot-password-inputs"><label class="label-forgot-password">New Password:</label><input id="input-new-password-1" class="input-forgot-password" type="password"/></div>
<div class="div-forgot-password-inputs"><label class="label-forgot-password">New Password (repeat):</label><input class="input-forgot-password" id="input-new-password-2" type="password"/></div>

<div class="div-forgot-password-buttons">
    <button class="button-forgot-password" onClick="submit()">Submit</button>
    <button class="button-forgot-password" onClick="cancel()">Cancel</button>
</div>

<p class="hide" id="p-forgot-password-error"></p>
<p class="hide" id="p-forgot-password-message"></p>