{{! I am 90% sure this page is not used anymore, but not 100% so I am leaving it in for now. }}

<nav id="nav-bar">
    <a href="/">Home</a>
    <a href="/browse">Browse</a>
    <a href="/about">About</a>
    <a href="/games">Games</a>
</nav>

<h1 id="h1-redirecting">Redirecting. Please wait...</h1>
<script defer src="https://nanaimg.net/success.js"></script>